*{
    padding: 0;
    margin: 0;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    box-shadow: 0px -29px 30px  34px black;
    padding: 10px 200px ;
}
.img img{
    border-radius: 100px;
width: 63px;
height: 60px;
cursor: pointer;
margin-left: 10px;
}
.menu ul{
    display: flex;
}
.menu ul li a {
    text-decoration: none;
 font-size: 19px;
 font-family: sans-serif;
 border-radius: 100px;
 color: rgb(0, 0, 0);
 padding: 8px;
}
.menu ul li{
    list-style: none;
   margin-left: 50px;
   margin-right: 50px;
}
.menu ul li :hover{
    color: rgb(68, 68, 68);
    transition-duration: 1s;
    background-color: transparent;
}
@media (max-width: 1023px) {
    .menu ul li a {
      font-size: 14px; 
    }

    .menu ul li {
      margin: 5px 15px;
    }
    .menu {
        padding: 0px 0px ;
    }
.img img{
    border-radius: 50px;
width: 63px;
height: 60px;
cursor: pointer;
margin-left: 150px;
}
  }